html {
  height: 800px;
  background-image: linear-gradient(135deg, rgba(229, 221, 221, 0.5), rgba(98, 93, 93, 0.5));
  backdrop-filter: blur(20px);
}


body {
  display: flex;
  justify-content: center;
}

.blackJack {
  display: flexbox;
  justify-content: center;
  align-content: center;
  position: absolute;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 100px;
  color: bisque;
  top: 1px;
  filter: drop-shadow(5px 5px 5px #4b4b4b);
}

/* .back-of-cards {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  position: absolute;
  top: 12rem;
  height: 250px;
  width: 700px;
}

#back-red, #back-blue {
  border: none;`
  filter: drop-shadow(10px 10px 20px #575757);
} */

.front-of-cards {
  display: flex;
}

#card-front0, #card-front1, #card-front2, #card-front3, #card-front4 {
  display: flex;
  height: 200px;
  flex-direction: row;
  position: relative;
  top: 20rem;
  border: none;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  margin: 20px;
  border: none;
  filter: drop-shadow(0px 20px 10px #575757);
}

.bet-input {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 45rem;
}

.bet-input input {
  display: flex;
  justify-content: center;
  flex-direction: row;
  top: 40rem;
  height: 40px;
  width: 150px;
  font-size: 30px;
  padding: 20px;
}

div > #bet-btn, #stay-btn, #hit-btn {
  align-content: center;
  border: none;
  border-radius: 15px;
  font-size: x-large;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  cursor: pointer;
  height: 50px;
  width: 150px;
}
#bet-btn {
  color: #92dc92;
  background-color: #1a551a;
  filter: drop-shadow(0px 10px 10px #878787);
}

#stay-btn{
  color: #eaa4a4;
  background-color: #602020;
  filter: drop-shadow(0px 10px 10px #878787);
}

#hit-btn{
  color: #a3c8ed;
  background-color: #1d3055;
  filter: drop-shadow(0px 10px 10px #878787);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  margin: 10px;
  top: 40rem;
  height: 80px;
  width: 700px;
  filter: drop-shadow(5px 5px 5px #878787);
}

.outcome-message{
  display: flex;
  position: absolute;
  justify-content: center;
  top: 13rem;
  font-size: 40px;
  font-family: 'Prompt', sans-serif;
  text-align: center;
}

div > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  filter: drop-shadow(0px 20px 10px #878787);
}

#reset {
  display: flex;
  position: absolute;
  border: none;
  border-radius: 15px;
  font-size: xx-large;
  font-family: 'Josefin Sans', sans-serif;
  height: 80px;
  width: 180px;
  top: 24rem;
  background-color: #e28e8e;
  cursor: pointer;
  color: #ffffff;
  filter: drop-shadow(0px 13px 20px #1d1d1d);
}

.animate-blur {
  transition: filter 0.5 ease-in-out;
}
#bet-slider {
  -webkit-appearance: none;
  height: 0px;
  width: 1000px;
  background-color: green;
  border-radius: 20px;
  outline: none;
  margin: 50px;
  filter: drop-shadow(0px 10px 5px #878787);
}
#bet-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #c02929;
  border-radius: 35%;
  cursor: pointer;
  filter: drop-shadow(0px 5px 3px #0d3b0d);
}
